<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="bg-white-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img class="h-12 w-12" th:src="@{/images/logo-small.svg}" alt="Logo">
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a href="#" class="bg-red-600 hover:bg-red-700 text-white px-3 py-2 rounded-md text-sm font-medium">Recherche
              des articles</a>

            <a href="#" class="text-gray-600 hover:bg-red-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
               sec:authorize="hasAuthority('ADMIN')">Gestion des articles</a>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <button
              class="w-8 h-8 bg-white-800 p-1 rounded-full text-gray-400 hover:text-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <span class="sr-only">Shopping bag</span>
            <img th:src="@{/heroicons/outline/shopping-bag.svg}" alt="Logo">
          </button>
          <!-- Profile dropdown -->
          <div x-data="{ isUserMenuOpen: false }" class="ml-3 relative">
            <div>
              <button
                  class="max-w-xs bg-white-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  id="user-menu" aria-haspopup="true" @click.away="isUserMenuOpen = false"
                  @click="isUserMenuOpen = !isUserMenuOpen">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full"
                     src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                     alt="">
              </button>
            </div>
            <div
                x-show="isUserMenuOpen"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="origin-top-right absolute right-0 mt-2 w-64 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
                role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a th:href="@{/users/change-password}"
                 class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-red-600" role="menuitem">Changer
                le mot de passe</a>

              <a th:href="@{/passport/logout}"
                 class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-red-600"
                 role="menuitem">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <!-- Mobile menu button -->
        <button @click="isMobileMenuOn = !isMobileMenuOn"
                class="bg-white-800 inline-flex items-center justify-center p-2 rounded-md text-grey-900 hover:text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <span class="sr-only">Open main menu</span>
          <img :class="{'hidden': isMobileMenuOn, 'block': !isMobileMenuOn }" class="h-6 w-6"
               th:src="@{/heroicons/outline/menu.svg}">
          <img :class="{'block': isMobileMenuOn, 'hidden': !isMobileMenuOn }" class="h-6 w-6"
               th:src="@{/heroicons/outline/x.svg}">
        </button>
      </div>
    </div>
  </div>

  <div :class="{'block': isMobileMenuOn, 'hidden': !isMobileMenuOn }" class="md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="#" class="bg-red-700 text-white block px-3 py-2 rounded-md text-base font-medium">Recherche des
        articles</a>

      <a href="#"
         class="text-gray-600 hover:bg-red-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
         sec:authorize="hasAuthority('ADMIN')">Gestion des articles</a>
    </div>
    <div class="pt-4 pb-3 border-t border-gray-700">
      <div class="flex items-center px-5">
        <div class="flex-shrink-0">
          <img class="h-10 w-10 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
        </div>
        <div class="ml-3">
          <div class="text-sm font-medium leading-none text-gray-400" sec:authentication="name">Username</div>
        </div>
        <button
            class="ml-auto bg-white-800 flex-shrink-0 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <span class="sr-only">Shopping bag</span>
          <img class="h-6 w-6" th:src="@{/heroicons/outline/shopping-bag.svg}">
        </button>
      </div>
      <div class="mt-3 px-2 space-y-1">
        <a th:href="@{/users/change-password}"
           class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-red-700">Changer
          le mot de passe</a>

        <a th:href="@{/passport/logout}"
           class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-red-700">Logout</a>
      </div>
    </div>
  </div>
</nav>

</body>
</html>