<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/application.css}"/>
  <script th:src="@{/js/alpine.min.js}" defer></script>
  <title>CIGMA Shop - Acceuil</title>
</head>
<body>
<div class="min-h-screen flex flex-col">
  <div class="flex flex-col flex-grow" x-data="{ isMobileMenuOn: false }">
    <div th:replace="fragments/navbar :: navbar"></div>
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          Changer Votre mot de passe
        </h1>
      </div>
    </header>
    <main class="flex flex-col flex-grow items-center bg-gray-50">
      <div class="flex-grow bg-white max-w-6xl w-full h-64 mx-auto">
        <div class="max-w-md w-full mx-auto rounded-md bg-green-100 p-2 px-4 flex flex-col text-green-700 mt-8"
             th:if="${param.success}">
          <div class="font-bold">
            Mot de passe changé !
          </div>
          <div>
            Votre mot de passe à été changé avec succès.
          </div>
        </div>
        <form class="max-w-md w-full mx-auto flex flex-col item-center justiry-center space-y-4 h-full py-8"
              th:action="@{/users/change-password}"
              th:object="${changePassword}"
              method="POST">
          <div>
            <label for="password" class="sr-only">Mot de passe</label>
            <input id="password" name="password" type="password" autocomplete="password"
                   placeholder="Mot de passe" th:field="*{password}"
                   class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
            >
            <div class="text-sm mx-2 text-red-700"
                 th:each="error: ${#fields.errors('password')}"
                 th:text="${error}">Erreur de validation
            </div>
          </div>
          <div>
            <label for="passwordConfirmation" class="sr-only">Confirmation du mot de passe</label>
            <input id="passwordConfirmation" name="passwordConfirmation" type="password"
                   autocomplete="passwordConfirmation"
                   placeholder="Confirmation du mot de passe" th:field="*{passwordConfirmation}"
                   class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
            >
            <div class="text-sm mx-2 text-red-700"
                 th:each="error: ${#fields.errors('passwordConfirmation')}"
                 th:text="${error}">Erreur de validation
            </div>
          </div>
          <div>
            <button class="block w-full bg-red-600 hover:bg-red-700 text-white rounded-md h-10" type="submit">
              Changer
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
  <div th:replace="fragments/footer :: simple"></div>
</div>
</body>
</html>
