<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/application.css}"/>
  <script th:src="@{/js/alpine.min.js}" defer></script>
  <title>CIGMA Shop - Acceuil</title>
</head>
<body>
<div x-data="{ isMobileMenuOn: false }">
  <div th:replace="fragments/navbar :: navbar"></div>
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
        Recherche des articles
      </h1>
    </div>
  </header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <!-- /End replace -->
    </div>
  </main>
</div>

</body>
</html>
