<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/application.css}"/>
  <script th:src="@{/js/alpine.min.js}" defer></script>
  <title>CIGMA Shop - Acceuil</title>
</head>
<body>
<div class="min-h-screen flex flex-col">
  <div class="flex flex-col flex-grow" x-data="{ isMobileMenuOn: false }">
    <div th:replace="fragments/navbar :: navbar"></div>
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">
          Changer Votre mot de passe
        </h1>
      </div>
    </header>
    <main class="flex flex-col flex-grow items-center bg-gray-50">
      <div class="flex-grow bg-white max-w-6xl w-full h-64 mx-auto p-8">
        <!-- This example requires Tailwind CSS v2.0+ -->


      </div>
    </main>
  </div>
  <div th:replace="fragments/footer :: simple"></div>
</div>
</body>
</html>
