<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/application.css}"/>
  <script th:src="@{/js/alpine.min.js}" defer></script>
  <title>CIGMA Shop - Changer Votre mot de passe</title>
</head>
<body class="overflow-y-hidden">
<div class="min-h-screen flex flex-col">
  <div class="flex flex-col flex-grow" x-data="{ isMobileMenuOn: false }">
    <div th:replace="fragments/navbar :: navbar(menu = 2)"></div>
    <div th:replace="fragments/header :: header(title = 'Gestion des articles')"></div>
    <main class="flex flex-col flex-grow items-center bg-gray-50">
      <div class="flex-grow bg-white max-w-6xl w-full h-64 mx-auto p-8 overflow-y-auto">
        <div class="flex flex-col">
          <div class="flex flex-row-reverse">
            <a th:href="@{/articles/management?new}"
               class="my-4 px-4 py-2 bg-green-600 hover:bg-green-700 text-white rounded-md text-sm">
              Ajouter nouvel article
            </a>
          </div>
          <div class="flex items-center justify-center">
            <div
                class="m-4 max-w-sm text-center w-full rounded-md border border-red-300 bg-red-100 p-2 px-4 flex flex-col text-red-700"
                th:if="${param.delete}">
              Article supprimé avec succès !
            </div>
            <div
                class="m-4 max-w-sm text-center w-full rounded-md border border-green-300 bg-green-100 p-2 px-4 flex flex-col text-green-700"
                th:if="${param.success}">
              Article sauvegardé avec succès !
            </div>
            <div
                class="m-4 max-w-sm text-center w-full rounded-md border border-red-300 bg-red-100 p-2 px-4 flex flex-col text-red-700"
                th:if="${param.alreadyOrdered}">
              Impossible de supprimé un article déjà commandé !
            </div>
          </div>
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 rounded-sm">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                  <tr>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Référence
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Désignation
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Quntité
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Prix
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Actions</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                  <tr th:each="article: ${articles}">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm font-medium text-gray-900" th:text="${article.reference}">
                        REFERENCE
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-900" th:text="${article.title}">
                        TITLE
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span
                          class="px-2 inline-flex text-xs leading-5 font-semibold text-gray-900"
                          th:text="${article.quantity}">
                        QUANTITY
                      </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span
                          class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                          th:text="${article.price}">
                        PRICE
                      </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <a th:href="@{/articles/management/{id}(id=${article.id})}"
                         class="text-yellow-600 hover:text-yellow-700">Modifier</a>
                      <a class="text-indigo-200">|</a>
                      <form class="inline-block" th:method="DELETE"
                            th:action="@{/articles/management/{id}(id=${article.id})}">
                        <button class="text-red-600 hover:text-red-700">Supprimer</button>
                      </form>
                    </td>
                  </tr>
                  <tr th:if="${#lists.isEmpty(articles)}">
                    <td colspan="4" class="p-4 text-center text-gray-600">
                      Aucune donnée disponible
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div th:if="${article.id}">
            <h2 class="text-center text-3xl mt-6 font-extrabold text-gray-900">Edition</h2>
            <form class="max-w-md w-full mx-auto flex flex-col item-center justiry-center space-y-4"
                  th:action="@{/articles/management/{id} (id=${article.id})}"
                  th:object="${article}"
                  method="POST">
              <div>
                <label for="reference" class="sr-only">Référence</label>
                <input id="reference" name="reference" type="text" autocomplete="reference"
                       placeholder="Référence" th:field="*{reference}" th:readonly="true"
                       class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 bg-gray-200 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
                >
                <div class="text-sm mx-2 text-red-700"
                     th:each="error: ${#fields.errors('reference')}"
                     th:text="${error}">Erreur de validation
                </div>
              </div>
              <div>
                <label for="title" class="sr-only">Designation</label>
                <input id="title" name="title" type="text" autocomplete="title"
                       placeholder="Designation" th:field="*{title}"
                       class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
                >
                <div class="text-sm mx-2 text-red-700"
                     th:each="error: ${#fields.errors('title')}"
                     th:text="${error}">Erreur de validation
                </div>
              </div>
              <div>
                <label for="quantity" class="sr-only">Quntité</label>
                <input id="quantity" name="quantity" type="text" autocomplete="quantity"
                       placeholder="Quantité" th:field="*{quantity}"
                       class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
                >
                <div class="text-sm mx-2 text-red-700"
                     th:each="error: ${#fields.errors('quantity')}"
                     th:text="${error}">Erreur de validation
                </div>
              </div>
              <div>
                <label for="description" class="sr-only">Déscription</label>
                <textarea id="description" rows="4" name="description" autocomplete="description"
                          placeholder="Déscription" th:field="*{description}"
                          class="appearance-none rounded-md shadow-sm block w-full p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
                ></textarea>
                <div class="text-sm mx-2 text-red-700"
                     th:each="error: ${#fields.errors('description')}"
                     th:text="${error}">Erreur de validation
                </div>
              </div>
              <div>
                <label for="price" class="sr-only">Prix</label>
                <input id="price" name="price" type="text" autocomplete="price"
                       placeholder="Prix" th:field="*{price}"
                       class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
                >
                <div class="text-sm mx-2 text-red-700"
                     th:each="error: ${#fields.errors('price')}"
                     th:text="${error}">Erreur de validation
                </div>
              </div>
              <div>
                <button class="block w-full bg-red-600 hover:bg-red-700 text-white rounded-md h-10" type="submit">
                  Sauvegarder
                </button>
              </div>
            </form>
          </div>
        </div>
        <div th:if="${param.new}">
          <h2 class="text-center text-3xl mt-6 font-extrabold text-gray-900">Ajout</h2>
          <form class="max-w-md w-full mx-auto flex flex-col item-center justiry-center space-y-4"
                th:action="@{/articles/management}"
                th:object="${article}"
                method="POST">
            <div>
              <label for="reference" class="sr-only">Référence</label>
              <input id="reference" name="reference" type="text" autocomplete="reference"
                     placeholder="Référence" th:field="*{reference}"
                     class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
              >
              <div class="text-sm mx-2 text-red-700"
                   th:each="error: ${#fields.errors('reference')}"
                   th:text="${error}">Erreur de validation
              </div>
            </div>
            <div>
              <label for="title" class="sr-only">Designation</label>
              <input id="title" name="title" type="text" autocomplete="title"
                     placeholder="Designation" th:field="*{title}"
                     class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
              >
              <div class="text-sm mx-2 text-red-700"
                   th:each="error: ${#fields.errors('title')}"
                   th:text="${error}">Erreur de validation
              </div>
            </div>
            <div>
              <label for="description" class="sr-only">Déscription</label>
              <textarea id="description" rows="4" name="description" autocomplete="description"
                        placeholder="Déscription" th:field="*{description}"
                        class="appearance-none rounded-md shadow-sm block w-full p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
              ></textarea>
              <div class="text-sm mx-2 text-red-700"
                   th:each="error: ${#fields.errors('description')}"
                   th:text="${error}">Erreur de validation
              </div>
            </div>
            <div>
              <label for="quantity" class="sr-only">Quntité</label>
              <input id="quantity" name="quantity" type="text" autocomplete="quantity"
                     placeholder="Quantité" th:field="*{quantity}"
                     class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
              >
              <div class="text-sm mx-2 text-red-700"
                   th:each="error: ${#fields.errors('quantity')}"
                   th:text="${error}">Erreur de validation
              </div>
            </div>
            <div>
              <label for="price" class="sr-only">Prix</label>
              <input id="price" name="price" type="text" autocomplete="price"
                     placeholder="Prix" th:field="*{price}"
                     class="appearance-none rounded-md shadow-sm block w-full h-10 p-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500"
              >
              <div class="text-sm mx-2 text-red-700"
                   th:each="error: ${#fields.errors('price')}"
                   th:text="${error}">Erreur de validation
              </div>
            </div>
            <div>
              <button class="block w-full bg-red-600 hover:bg-red-700 text-white rounded-md h-10" type="submit">
                Sauvegarder
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <div th:replace="fragments/footer :: simple"></div>
</div>
</body>
</html>
